    <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Name</span>
      <p>Symptoms <br>
         created_at:
      </p>
  </ul>
   <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Name</span>
      <p>Symptom <br>
         created_at
      </p>
  </ul>
   <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Name</span>
      <p>Symptom <br>
         created_at
      </p>
  </ul>
   <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Name</span>
      <p>Symptom <br>
         created_at
      </p>
  </ul>