<div class="container">
    {{!-- <button class="signUpBtn waves-effect waves-light btn-large">New Patient</button> --}}
    <button href="/newpatient" class="newpatient waves-effect waves-light btn-large">New Patient</button>
    <button href="/existingpatient" class="existingpatient waves-effect waves-light btn-large">Existing Patient</button>
</div>

<script src="/js/index.js"></script>