{{> navbarLanding}}
 
 <div class = 'container upperpadding25'>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="datepicker" id="date-of-birth">
          <label>Date of Birth
          {{!-- <input id="date-of-birth" type="date" class="validate"> --}}
          {{!-- <label for="date of birth">Date of birth</label> --}}
        </div>
        <div class="input-field col s6">
          <input type="text" class="datepicker" id="date-of-symptoms">
          <label>Symptoms started on:
          {{!-- <input id="date-of-symptoms" type="date" class="validate">
          <label for="date of symptoms">Date when Symptoms Started:</label> --}}
        </div>
      </div>
      <div class="row">

        <div class="input-field col s12">
          <input id="symptoms" type="text" class="validate">
          <label for="symptoms">Symptoms</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="covid">
          <input type="checkbox" id="covid" class= "checkboxClass"/>
          <span>Exposed to Covid</span>
          </label>
        </div>
        <div class="input-field col s6">
          <label for="chestpain">
          <input type="checkbox" id="chestpain" class= "checkboxClass"/>
          <span>Chest Pain</span>
          </label>
        </div>
        <div class="input-field col s6">  
          <label for="tuberculosis">
          <input type="checkbox" id="tuberculosis" class= "checkboxClass"/>
          <span>Exposed to Tuberculosis</span>
          </label>
        </div>
        <div class="input-field col s6">
           <label for="breath">
          <input type="checkbox" id="breath" class= "checkboxClass" />
         <span>Short of breath</span>
         </label>
        </div>
        <div class="input-field col s6">
           <label for="influenza">
          <input type="checkbox" id="influenza" class= "checkboxClass"/>
         <span>Exposed to Influenza</span>
         </label>
        </div>
      </div>
      </div class="col s6">
        <button class="patientquestionsubmit  waves-effect waves-light btn-large">Submit</button>
      </div>
    </form>
  </div>
</div>
        

<script src="/js/patientQuesions.js"></script>