 <div class = 'container'>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="date of birth" type="date" class="validate">
          <label for="date of birth">Date of birth</label>
        </div>
        <div class="input-field col s6">
          <input id="symptoms" type="text" class="validate">
          <label for="symptoms">Symptoms</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="date of symptoms" type="date" class="validate">
          <label for="date of symptoms">Date when Symptoms Started:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="checkbox" id="covid" />
          <label for="covid">Exposed to Covid</label>
        </div>
        <div class="input-field col s6">
          <input type="checkbox" id="influenza" />
          <label for="influenza">Exposed to Influenza</label>
        </div>
        <div class="input-field col s6">
          <input type="checkbox" id="tuberculosis" />
          <label for="tuberculosis">Exposed to Tuberculosis</label>
        </div>
        <div class="input-field col s6">
          <input type="checkbox" id="breath" />
          <label for="breath">Short of breath?</label>
        </div>
        <div class="input-field col s6">
          <input type="checkbox" id="chestpain" />
          <label for="chestpain">Chest Pain</label>
        </div>
      </div>
    </form>
  </div>
</div>
        

<script src="/js/patientQuesions.js"></script>