   {{> navbar}}

<div class= "container"></div>
    <h5>Registered User:</h5>   
        <ul class="collection hoverable">
            <li class="collection-item avatar">
            <img src="images/nurseicon.jpg" alt="" class="circle">
            <span class="title">Title</span>
             <p>Username: <br>
                Role:<br>
            </p>
            </li>
        </ul>
</div>
